<div class="tagger">
  <div class="tag_dialog">
    <a href="javascript: void(0);" class="exit">X</a>
    <div class="header">
      <div class="tweet"><a href="" class="twitter-share-button">Tweet</a></div>
      <a href="" class="selection_link"></a>
    </div>
    <div class="tags"></div>
    <div>
      <input class="new_tag" />
      <span class="types">
        <a href="javascript: void(0);" class="type TimeStamp"><img src="/badgerbadger/static/tagger/img/calendar.gif"></a>
        <a href="javascript: void(0);" class="type MapPoint"><img src="/badgerbadger/static/tagger/img/map.gif"></a>
      </span>
    </div>
    <div class="values">
      <div class="value TimeStamp">
        <span class="date"></span>
      </div>
      <div class="value MapPoint">
        Map goes here
      </div>
    </div>
  </div>
  <div class="intro_help">
    Start tagging by selecting some text with your mouse...
  </div>
</div>
