<link rel="stylesheet" href="/static/tagger/css/tagger.css" type="text/css" /> 
<link rel="stylesheet" href="/static/tagger/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" />
<script src="/static/tagger/js/jquery-1.6.4.min.js"></script>
<script src="/static/tagger/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/static/tagger/js/jquery.wrapSelection.js"></script>
<script src="/static/tagger/js/selectorgadget/lib/dom.js"></script>
<script src="/static/tagger/js/selectorgadget/vendor/diff/diff_match_patch.js"></script>
<script src="/static/tagger/js/dom2selector.js"></script>
<script src="/tagger/data/{{url}}"></script>
<script src="/static/tagger/js/tagger.js"></script>
