<html>
  <head>
    <title>Tagger</title>
    <link rel="stylesheet" href="/badgerbadger/static/tagger/css/tagger.css" type="text/css" /> 
    <link rel="stylesheet" href="/badgerbadger/static/tagger/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" />
    <script src="/badgerbadger/static/tagger/js/jquery-1.6.4.min.js"></script>
    <script src="/badgerbadger/static/tagger/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="/badgerbadger/static/tagger/js/index.js"></script>
  </head>
  <body class="tagger">
    <h1>Badger Badger<div class="subheading">social tagging</div></h1>
    
    

    <div class="go_tag">
      Enter a web address to start tagging: <input type="text" name="url" class="url" />
    </div>

    <div class="search">
      Enter one or more tags to start searching:
      <span class="tags"></span>
      <input class="new_tag" />
    </div>
    
    <div class="results"></div>

  </body>
</html>

