<html>
  <head>
    <title>Tagger search results</title>
    <link rel="stylesheet" href="/static/tagger/css/tagger.css" type="text/css" /> 
  </head>
  <body class="tagger">
    <ul>
      {% for result in results %}
	<li>
	  <a href="/tagger/view/{{result.subclassobject.document.url|urlencode}}">{{result.subclassobject.document.url}}</a>
	  <div class="tags">
            {% for tagging in result.tags.all %}
              <span class="tag">
	        {{tagging.tag.name}}
	      </span>
	    {% endfor %}
          </div>
	</li>
      {% endfor %}
    </ul>
  </body>
</html>

