<html>
 <head>

  <script src="/badgerbadger/static/tagger/js/jquery-1.6.4.min.js"></script>
  <script src="/badgerbadger/static/tagger/js/OpenLayers/OpenLayers.js"></script>

  <script>
    $(document).ready(function () {

     dialog = {};

      dialog.map = new OpenLayers.Map({
	  div: "map",
	  allOverlays: true
      });

      var osm = new OpenLayers.Layer.OSM();
      dialog.map.addLayers([osm]);
      dialog.map.addControl(new OpenLayers.Control.LayerSwitcher());
      dialog.map.zoomToMaxExtent();

      dialog.map.events.register('click', dialog.map, function(e) {
	var lonlat = dialog.map.getLonLatFromViewPortPx(e.xy);
	// If you are using OpenStreetMap (etc) tiles and want to convert back 
	// to gps coords add the following line :-
	lonlat = lonlat.transform(
   new OpenLayers.Projection("EPSG:900913"),
   new OpenLayers.Projection("EPSG:4326")
);

   console.log([dialog.map.projection, osm.projection]);

//dialog.map.projection, dialog.map.displayProjection);

	 console.log([lonlat.lon, lonlat.lat]);
      });

/*

            OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {                
                defaultHandlerOptions: {
                    'single': true,
                    'double': false,
                    'pixelTolerance': 0,
                    'stopSingle': false,
                    'stopDouble': false
                },
 
                initialize: function(options) {
                    this.handlerOptions = OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions
                    );
                    OpenLayers.Control.prototype.initialize.apply(
                        this, arguments
                    ); 
                    this.handler = new OpenLayers.Handler.Click(
                        this, {
                            'click': this.trigger
                        }, this.handlerOptions
                    );
                }, 
 
                trigger: function(e) {
                    var lonlat = map.getLonLatFromViewPortPx(e.xy);
                    alert("You clicked near " + lonlat.lat + " N, " +
                                              + lonlat.lon + " E");
                }
 
            });
            var map;
            function init(){
                map = new OpenLayers.Map('map');
 
                var ol_wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
                    "http://vmap0.tiles.osgeo.org/wms/vmap0?", {layers: 'basic'} );
 
            var jpl_wms = new OpenLayers.Layer.WMS( "NASA Global Mosaic",
                "http://t1.hypercube.telascience.org/cgi-bin/landsat7", 
                {layers: "landsat7"});
 
                jpl_wms.setVisibility(false);
 
                map.addLayers([ol_wms, jpl_wms]);
                map.addControl(new OpenLayers.Control.LayerSwitcher());
                // map.setCenter(new OpenLayers.LonLat(0, 0), 0);
                map.zoomToMaxExtent();
                
                var click = new OpenLayers.Control.Click();
                map.addControl(click);
                click.activate();
 
            }
    init();

*/
    });
  </script>
 </head>
 <body>

   <div id="map" style="width:300px; height: 300px; border: 2px solid red;"></div>

 </body>
</html>
