.selection {
  outline: 2px solid;
  float: none;
  color: inherit;
  background: inherit;
  border: inherit;
  font: inherit;
  margin: initial;
  padding: initial;
}

.selection_0 { outline-color: #ff7777; }
.selection_1 { outline-color: #77ff77; }
.selection_2 { outline-color: #7777ff; }
.selection_3 { outline-color: #bbbb77; }
.selection_4 { outline-color: #77bbbb; }
.selection_5 { outline-color: #ba77bb; }
.selection_6 { outline-color: #99dd77; }
.selection_7 { outline-color: #7799dc; }
.selection_8 { outline-color: #dc7799; }
.selection_9 { outline-color: #88ee77; }
.selection_10 { outline-color: #7788ee; }
.selection_11 { outline-color: #ed7788; }
.selection_12 { outline-color: #7ff677; }
.selection_13 { outline-color: #777ff6; }
.selection_14 { outline-color: #f6777f; }
.selection_15 { outline-color: #7bfa77; }
.selection_16 { outline-color: #777bfa; }
.selection_17 { outline-color: #fa777b; }
.selection_18 { outline-color: #79fc77; }
.selection_19 { outline-color: #7779fc; }
.selection_20 { outline-color: #fc7779; }
.selection_21 { outline-color: #78fd77; }
.selection_22 { outline-color: #7778fd; }
.selection_23 { outline-color: #fd7778; }

.tagger {
  font-family: serif;
  font-size: 12pt;
}

.tagger h1 {
  font-weight: normal;
  font-style: italic;
  font-size: 40pt;
  line-height: 37pt;
  float: right;
  margin-top: 0;
  text-align: right;
  padding-right: 1em;
}
.tagger .subheading {
  font-size: 20pt;
  font-weight: normal;
  font-style: italic;
  margin-right: -1.75em;
}

.tagger .go_tag {
  margin-bottom: 40px;
}

.tagger .go_tag input {
  width: 40%
}

.tagger .tag_dialog {
  z-index: 500;
  background: #fafafa;
  border: 3px solid #cccccc;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  display: none;
  max-width: 30%;
}
.tagger .tag_dialog .exit {
  float: right;
  margin-top: -25px;
  margin-right: -20px;
  background: #fafafa;
  color: #fafafa;
  font-size: 1px;
  border: 3px solid #cccccc;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}
.tagger .tags {
  line-height: 1.7em;
  clear: both;
}
.tagger .url,
.tagger .tag,
.tagger .new_tag {
  border: 2px solid #cccccc;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
}
.tagger .url,
.tagger .tag,
.tagger .new_tag,
.tagger .url a,
.tagger .tag a,
.tagger .new_tag a {
  white-space: nowrap;
  background: #ffffff;
  color: #000000;
  font-style: italic;
  font-family: serif;
  font-size: 12pt;
  text-decoration: none;
}
.tagger .url a:hover,
.tagger .tag a:hover,
.tagger .new_tag a:hover {
  text-decoration: underline;
}

.tagger .tag .remove {
  position: relative;
  top: -9px;
  right: -9px;
  background: #fafafa;
  color: #fafafa;
  font-size: 1px;
  border: 3px solid #cccccc;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.tagger .intro_help {
  position: absolute;
  height: 30%;
  width: 30%;
  top: 35%;
  left: 35%;
  z-index: 500;
  background: #fafafa;
  border: 3px solid #cccccc;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  display: none;

  font-weight: normal;
  font-style: italic;
  font-size: 20pt;
  font-weight: normal;
  text-align: center;
}

.tagger .body {
  border: 3px solid #cccccc;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  overflow: auto;
  background: url(/badgerbadger/static/tagger/img/badger.svg) no-repeat top right;
}
.tagger .footer {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
  position: absolute;
  height: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #aaaaaa;
}
.tagger .footer * {
  vertical-align: bottom;
}
.tagger .footer a {
  text-decoration: none;
  color: #aaaaaa;
}
.tagger .footer a:hover {
  text-decoration: underline;
}

.tagger .original {
  z-index: 499;
  position: fixed;
  right: 5px;
  top: 5px;
  background: #fafafa;
  color: #fafafa;
  font-size: 1px;
  border: 3px solid #cccccc;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}

.tagger .tag_dialog .tweet {
  float: right;
  width: 110px;
  height: 20px;
}

.tagger .tag_dialog .values .value {
  display: none;
}

.tagger .tag_dialog .values .value.tagger_models_MapPoint .map_widget {
  width: 300px;
  height: 300px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
